// Colors
$background:		#ffffff;


$base-blue: 		#2F416A;
$card-blue: 		#F4F5F7;
$accent-blue: 	#4A97E2;
$heading-blue: 	#6E86B5;
$label-blue: 		#566585;
$button-blue: 	#97A0B5;

$action-orange: #FF944D;

$star-yellow:   #FFE048;

$dim-red: 			#FFC6C6;
$dim-yellow:		#FFFFAA;
$dim-green:			#B0FFB1;
	
$dim-grey:			#ECECEC;
$faded-grey:		#D0D1D4;
$text-grey:			#6C6C6C;

$white:					#ffffff;
$text-white:		#ffffff;