// Fonts // 
@import 'https://fonts.googleapis.com/css?family=Lato';

$font-stack:  "Lato", "ProximaNova", sans-serif;


$semi-bold:   "Lato-Semibold";
$bold:   		  "Lato-Bold";
$heavy: 		 	"Lato-Heavy";
$black:				"Lato-Black";

$button-spacing:  .04rem;
$standard-spacing:  .04rem;

$mobile-font-size-small: 1.3rem;
$mobile-font-size-medium: 1.4rem;
$mobile-font-size-large: 1.8rem;