html {
  font-size: 62.5%;
}

body {
	font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

h1 {
	color: $heading-blue;
	font-family: $bold;
}

h2, h3 {
	color: $label-blue;
	font-family: $heavy;
}

p {
	color: $text-grey;
	letter-spacing: $standard-spacing;
	margin-bottom: 3rem;
}

hr {
	border-color: $white;
	padding-bottom: 2rem;
}

// Content Styles
.wrap {
	width: 100%;
}

main {
	.container-fluid {
		margin-left: -1rem;
		margin-right: -1rem;
	}
}

.no-padding {
	padding: 0rem 0rem;
}

// Main Content
.flex {
	@include flexbox;
	align-items: flex-start;
	justify-content: space-around;
}

.btn {
	align-items: center;
	justify-content: space-between;
	
	border: none;
	height: 5rem;

	svg {
		margin-right: 5%;
	}
}


@media (max-width: 40rem) {
	h2, h3 {
		font-size: 14px;
	}
	.btn {
		
		svg {
			height: (100%-70%);
		}
	} 
	.no-padding {
		padding: 0rem 1rem;
	}
}

@media (max-width: 64rem){
	.invisible-mobile {
		@include invisible-mobile;
		
		.container-fluid {
			height: 0;
		}
		.container{
			height: 0;
		}
	}
	
	
}

@media (min-width: 64rem){
	.ml2, .my2 {
		margin-left: 2rem;
	}
	.mr2, .my2 {
		margin-right: 2rem;
	}
	.mr4, .my4 {
		margin-right: 4rem;
	}
	.ml4, .my4 {
		margin-left: 4rem;
	}
	.pr4, .py4 {
		padding-right: 4rem;
	}
	.pl4, .py4 {
		padding-left: 4rem;
	}
}

/*
@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 28px;
  }
}
*/