// Header Styles
header {
	text-align: center;
	margin-bottom: 5rem;
}


.user-thumbnail {
	margin: 1rem 2rem;
	height: 5rem;
	width: 5rem;
}


// Overwrite base bootstrap element styles
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		background-color: $base-blue !important;
		color: $white !important;
}
	
.navbar-default .navbar-nav > .active > a {
		background-color: $base-blue !important;
		color: $white !important;
	}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		background-color: $base-blue !important;
		color: $white !important;
}

.navbar {	
	background-color: $base-blue;

	
	.navbar-brand {
		font-family: $semi-bold;
		background-color: $base-blue;
		color: $white;
		letter-spacing: $button-spacing;
	}
	
	.navbar-header {
		background-color: $base-blue;
		color: $white;
	}
	
	.navbar-collapse{
		color: $white;
		
		ul {
			
			li a{
				color: $white;
				letter-spacing: $button-spacing;
			}
		}
	}
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $white;
}

@media (min-width: 768px){
	header {
		padding-bottom: 2rem;
	}
	.navbar {
		padding: 0 2rem;
	}
	.navbar-brand {
		padding: 2.5rem 2.5rem;
	}
	.navbar-nav > li > a {
		padding-top: 2.5rem !important;
		padding-bottom: 2.5rem !important;
	}
}
